body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/690ed05a1163254b47fc34c7f8261853.gif');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    font: normal;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    margin-top: 5h;
    border: 2px solid gray;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background: transparent;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

p{
    font-weight: bold;
}